/*  MICROTHEMER STYLES  */


/*= Geral ===================== */

/** Geral >> Mt page cultura da igreja td main content wrap **/
.mt-page-cultura-da-igreja .td-main-content-wrap {
	padding-top: 0 !important;
}

/** Geral >> Mt page discipulado aprovacao 2 td main content wrap **/
.mt-page-discipulado-aprovacao-2 .td-main-content-wrap {
	padding-top: 0 !important;
}

/** Geral >> Logo Cultura da Igreja **/
#td-outer-wrap .attachment-large {
	width: 450px !important;
}

/** Geral >> Mt page farol td main content wrap **/
.mt-page-farol .td-main-content-wrap {
	padding-top: 0 !important;
}

/** Geral >> CONTA BRADESCO **/
.vc_align_right .attachment-full {
	margin-left: 55px !important;
}

/** Geral >> Mt page discipulado td main content wrap **/
.mt-page-discipulado .td-main-content-wrap {
	margin-top: -48px !important;
}

/** Geral >> Mt page vida com propositos td main content wrap **/
.mt-page-vida-com-propositos .td-main-content-wrap {
	margin-top: -48px !important;
}

/** Geral >> Mt page farol attachment thumbnail **/
.mt-page-farol .attachment-thumbnail {
	margin-left: 180px !important;
}

/** Geral >> ATIVAÇÃO PROFÉTICA **/
.mt-page-ativacao-profetica .td-main-content-wrap {
	margin-top: -48px !important;
}

/** Geral >> Shailan countdown 1 1 countdown section **/
#shailan-countdown--1_1 .countdown_section {
	font-size: 21px !important;
	text-align: center !important;
	margin-right: - !important;
	clear: none !important;
}

/** Geral >> Celulasapostolicas td main content wrap **/
.celulasapostolicas .td-main-content-wrap {
	padding-top: 0 !important;
	margin-top: 0 !important;
}

/** Geral >> Div:(2) td main page wrap:(2) **/
.mt-page-semanadavirada > div > div:nth-of-type(2) > .td-main-page-wrap:nth-of-type(2) {
	padding-top: 0 !important;
}

/** Geral >> Shailan countdown 1 1 **/
#shailan-countdown--1_1 {
	color: rgb(255, 255, 255) !important;
}


/*( Desktop grande )*/
@media (min-width: 1200px) {

	/*= Geral ===================== */

	/** Geral >> Shailan countdown 1 1 countdown section **/
	#shailan-countdown--1_1 .countdown_section {
	
}


}


/*( Desktop e tablet )*/
@media (min-width: 768px) and (max-width: 979px) {

	/*= Geral ===================== */

	/** Geral >> CONTA BRADESCO **/
	.vc_align_right .attachment-full {
	margin-left: 80px !important;
}

	/** Geral >> Vc custom 1595597612738 paragraph **/
	.vc_custom_1595597612738 p {
	margin-right: -80px !important;
	margin-left: -80px !important;
}


}


/*( Tablet & celular )*/
@media (max-width: 767px) {

	/*= Geral ===================== */

	/** Geral >> CONTA BRADESCO **/
	.vc_align_right .attachment-full {
	margin-right: 55px !important;
}


}


/*( Celular )*/
@media (max-width: 480px) {

	/*= Geral ===================== */

	/** Geral >> Logo Cultura da Igreja **/
	#td-outer-wrap .attachment-large {
	width: 300px !important;
	margin-top: 50px !important;
}

	/** Geral >> Texto **/
	.td-pb-span6:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > .wpb_wrapper {
	text-align: center !important;
}

	/** Geral >> CONTA BRADESCO **/
	.vc_align_right .attachment-full {
	margin-right: 80px !important;
	margin-left: 0 !important;
}

	/** Geral >> Vc custom 1595597612738 paragraph **/
	.vc_custom_1595597612738 p {
	margin-right: -50px !important;
	margin-bottom: -50px !important;
	margin-left: -50px !important;
}


}

